<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <div class="navbar-logos">
    <div class="navbar-logo">
    <%= image_tag 'logoemilie.png' %>
    </div>
  </div>



  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <div class="navbar-tabs">
      <a href="#", class="navbar-wagon-item navbar-wagon-link">ACCUEIL</a>
    </div>
    <div class="navbar-tabs">
      <a href="#prestations", class="navbar-wagon-item navbar-wagon-link">PRESTATIONS</a>
    </div>
    <div class="navbar-tabs">
      <a href="#tarifs", class="navbar-wagon-item navbar-wagon-link">TARIFS</a>
    </div>
    <div class="navbar-tabs">
      <a href="#apropos", class="navbar-wagon-item navbar-wagon-link">À PROPOS</a>
    </div>
    <div class="navbar-tabs">
      <a href="https://www.facebook.com/jolimentsoi/", target="_blank", class="navbar-wagon-item navbar-wagon-link">CONTACT</a>
    </div>

</div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="https://www.facebook.com/jolimentsoi/", target="_blank", "navbar-wagon-item navbar-wagon-link">Accueil</a></li>
        <li><a href="https://www.facebook.com/jolimentsoi/", target="_blank", "navbar-wagon-item navbar-wagon-link">Prestations</a></li>
         <li><a href="https://www.facebook.com/jolimentsoi/", target="_blank", "navbar-wagon-item navbar-wagon-link">Tarifs</a></li>
        <li><a href="https://www.facebook.com/jolimentsoi/", target="_blank", "navbar-wagon-item navbar-wagon-link">À propos</a></li>
        <li><a href="https://www.facebook.com/jolimentsoi/", target="_blank", "navbar-wagon-item navbar-wagon-link">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

<!--
<div class="banner" style="background-image: url('https://res.cloudinary.com/sybillecrd/image/upload/v1533134622/couv.jpg');">
      <div class="banner-content">
      </div>
</div> -->

<!--Here's our main wrapper.
Since our carousel items get their size from their parent,
we have to specify its height.-->
<div class="carousel-wrapper" style="height: 550px;">
  <!--The carousel uses regular links to cycle through each item.
  The links actually target these display: none; spans so our page doesn't
  jump like it normally would when using jump links.-->
  <span id="target-item-1"></span>
  <span id="target-item-2"></span>
  <span id="target-item-3"></span>
  <!--Here are our carousel items.
  Each has a 'carousel-item' class, which we use for shared styling
  and an item-# class, which we use to control its opacity
  depending on which target-item-# is currently targeted-->
  <div class="carousel-item item-1" style="background-image: url('https://res.cloudinary.com/sybillecrd/image/upload/v1533134622/couv.jpg');">
    <!--We can add any content in here, just make sure that
    your .carousel-wrapper is big enough to hold all the content.-->
    <h2>JOLIMENT SOI ESTHÉTICIENNE À DOMICILE</h2>

    <!--Here are the links that control the carousel! Make sure
    the href of each one is pointing to the right target-item-#
    so that the carousel cycles in sequence.-->
    <a class="arrow arrow-prev" href="#target-item-3"></a>
    <a class="arrow arrow-next" href="#target-item-2"></a>
  </div>
  <!--And here are a couple more carousel items so that
  we have some content to scroll to. Notice the 'light' class?
  Royal blue is a pretty dark background color, so we'll add a CSS
  rule to make the text white if a carousel item has this class-->
  <div class="carousel-item item-2 light" style="background-image: url('https://res.cloudinary.com/sybillecrd/image/upload/v1534754285/jamie-street-319048-unsplash.jpg');">
    <h2>JOLIMENT SOI ESTHÉTICIENNE À DOMICILE</h2>
    <a class="arrow arrow-prev" href="#target-item-1"></a>
    <a class="arrow arrow-next" href="#target-item-3"></a>
  </div>
  <div class="carousel-item item-3" style="background-image: url('http://res.cloudinary.com/sybillecrd/image/upload/v1534754643/element5-digital-611467-unsplash.jpg');">
    <h2>JOLIMENT SOI ESTHÉTICIENNE À DOMICILE</h2>
    <a class="arrow arrow-prev" href="#target-item-2"></a>
    <a class="arrow arrow-next" href="#target-item-1"></a>
  </div>
</div>


<div id="second-banner">
  <div class="welcome">
    <div class="title-banner">
      JOLIMENT SOI
    </div>
    <p id="prestations" >Emilie a crée Joliment Soi en 2017. Il s'agit d'un service d'esthéticienne à domicile sur les régions de Vannes et Auray. Il est toujours temps de prendre soin de soi. Prestations sur rendez-vous à domicile ou dans votre espace bien-être au <a href="tel:+33635498009">06 35 49 80 09</a>.</p>
  </div>
</div>

<div id="third-banner">

  <div class="title-banner text-center">
    LES PRESTATIONS
  </div>

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-image">
            <%= image_tag 'legs.png' %>
          </div>
          <div class="card-title">
            <h5>Épilation</h5>
          </div>
          <div class="card-description">
            <p>Joliment Soi vous propose un service d'épilation à la cire chaude pour le visage et le corps.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-image">
            <%= image_tag 'massage.png' %>
          </div>
          <div class="card-title">
            <h5>Massages</h5>
          </div>
          <div class="card-description">
            <p>Joliment Soi vous propose un service d'épilation à la cire chaude pour le visage et le corps.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-image">
            <%= image_tag 'makeup.png' %>
          </div>
          <div class="card-title">
            <h5>Maquillage</h5>
          </div>
          <div class="card-description">
            <p>Joliment Soi vous propose un service d'épilation à la cire chaude pour le visage et le corps.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id="tarifs" ></div> <br> <br>
</div>



<div id="fourth-banner">
   <div class="title-banner text-center">
    LES TARIFS
  </div>

<div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-title">
            <h5>Soins du visage et du corps</h5>
          </div>
          <div class="card-content">
            <ul>
              <li>38€ - Soin visage assainissant 45min</li>
              <li>48€ - Soin visage personnalisé 1h</li>
              <li>55€ - Peeing visage</li>
              <li>14€ - Gommage jambes ou dos 15min</li>
              <li>16€ - Modelage jambes ou dos 15min</li>
              <li>27€ - Gommage et modelage jambes ou dos 30min</li>
              <li>48€ - Modelage corps 45min</li>
              <li>20€ - Modelage visage 20min</li>
            </ul>
          </div>

        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-title">
            <h5>Epilations</h5>
          </div>
          <div class="card-content">
            <ul>
              <li>7€ - Sourcils, lèvres ou menton</li>
              <li>9€ - Aisselles</li>
              <li>15€ - Avant-bras</li>
              <li>16€ - Demi-jambes</li>
              <li>23€ - Jambes entières</li>
              <li>10€ - Maillot simple</li>
              <li>14€ - Maillot échancré</li>
              <li>17€ - Maillot brésilien</li>
              <li>23€ - Maillot intégral</li>
              <li>18€ - Torse ou dos</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-title">
            <h5>Forfaits</h5>
          </div>
          <div class="card-content">
            <ul>
              <li>12€ - Sourcils et lèvres</li>
              <li>23€ - Demi-jambes, aisselles</li>
              <li>33€ - Demi-jambes, aisselles, maillot simple</li>
              <li>37€ - Demi-jambes, aisselles, maillot échancré</li>
              <li>41€ - Demi-jambes, aisselles, maillot brésilien</li>
              <li>45€ - Demi-jambes, aisselles, maillot intégral</li>
              <li>39€ - Jambes entières, aisselles, maillot simple</li>
              <li>43€ - Jambes entières, aisselles, maillot échancré</li>
              <li>46€ - Jambes entières, aisselles, maillot brésilien</li>
              <li>51€ - Jambes entières, aisselles, maillot intégral</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-title">
            <h5>Maquillage et teintures</h5>
          </div>
          <div class="card-content">
            <ul>
              <li>18€ - Maquillage jour</li>
              <li>23€ - Maquillage soirée</li>
              <li>42€ - Maquillage mariage (avec essai)</li>
              <li>15€ - Teinture cils ou sourcils</li>
              <li>27€ - Teinture cils et sourcils</li>
            </ul>
          </div>
        </div>
      </div>

       <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-title ">
            <h5>Soins des mains et des pieds</h5>
          </div>

            <div class="card-content">
              <ul>
                <li>7€ - Pose de vernis</li>
                <li>25€ - Manucure</li>
                <li>30€ - Manucure et pose de vernis</li>
                <li>30€ - Soin des pieds</li>
                <li>35€ - Soin des pieds et pose de vernis</li>
                <li>28€ - Vernis semi-permanent</li>
                <li>5€ - Dépose du vernis semi-permanent</li>
              </ul>
            </div>

        </div>
      </div>

    </div>
  </div>
  <div id="apropos" ></div> <br> <br>
</div>

<div id="fifth-banner">
   <div class="title-banner text-center">
    À PROPOS
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 photo-emilie">
      <%= image_tag 'portrait.png', class: "photo-emilie" %>
    </div>
    <br>
    <div class="col-xs-12 col-sm-6">
      <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
      </p>
    </div>
  </div>
</div>

<div id="sixth-banner">
   <div class="row title-banner text-center">
    <div class="col-xs-12 col-md-6">
      SUIVEZ-MOI SUR LES RÉSEAUX !
    </div>
  </div>
    <br>
    <div class="row sixth-banner-links">
      <div class="col-xs-1 col-xs-offset-3 col-md-1 col-md-offset-5">
        <a href="https://www.instagram.com/jolimentsoi/", target="_blank"><i class="fa fa-instagram"></i></a>
      </div>

      <div class="col-xs-1 col-xs-offset-2 col-md-1 col-md-offset-1">
        <a href="https://www.facebook.com/jolimentsoi/"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
</div>

<div class="footer">
  <div class="footer-item">
    Émilie Le Goueff <br> <a href="tel:+33635498009">06 35 49 80 09</a>
  </div>
  <div class="footer-item">
    136 Route de Roguedas <br> 56610 Arradon
  </div>
</div>
